gensim==3.8.3
pandas==1.2.2
spacy==2.3.7
spacy_streamlit==0.1.0
streamlit>=0.79.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
textblob==0.17.1
